body {
    background-color: lightgray;
    font-family: "poppins", sans-serif;
}

html{
    font-size: 1rem;
    scroll-behavior: smooth;
}

.btn{
    font-size: .9rem;
    line-height: 2rem;
    font-weight: 400;
    padding: .5rem 1rem;
    border-radius: .5rem;
    width: max-content;

    background-color: rgba(41, 112, 255, 1);
    color: white;
    border: 1px solid rgba(41, 112, 255, 1);
    transition: all .5s ease-in-out;
}

.btn:hover{
    background-color: white;
    color: rgba(41, 112, 255, 1);
    cursor: pointer;
}